@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";
*{
  font-family: var(--text-font);
}
h1,h2,h3,button{
  font-family: var(--title-font);
}
body{
  font-family: 'Manrope', sans-serif;
}
:root{
  --theme-color: #EB292C;
  --secondary-color: #0A0F20;
  --pink-color: #FFC0CB;
  --violet-color: #7F00FF;
  --crimson-color: #DC143C;
  --orange-color: #FFA500;
  --text-font: 'Inter', sans-serif;
  --title-font: 'Manrope', sans-serif;
}
